@{
    ViewBag.Title = "About";
}
<style>
    body {
        background: url("https://www.walldevil.com/wallpapers/a26/titles-background-papers-wallpaper-resources-lol-images-wallpapers.jpg") no-repeat fixed center;
        color: #002080;
        font-family: 'Indie Flower', cursive;
    }

    h1 {
        color: #26004d;
        text-align: center;
        font-size: 3.25em;
        font-weight: bold;
        font-family: 'Indie Flower', cursive;
    }
</style>

<h1> About</h1>
<br />
<br />
<div class="container text-center" display="inline-block" style="width:50%; top:30%; left:15%">
<p style="font-size:3em">
    This application was created by:
    <br />
    Borza Catalin
    <br />
    Bucur Robert
    <br />
    Burtan Gabriela
    <br />
    Luca Roberta
    <br />
    Sintea Maria
</p>
</div>

