@{
    ViewBag.Title = "Help";
}
<style>
    body {
        background: url("https://www.walldevil.com/wallpapers/a26/titles-background-papers-wallpaper-resources-lol-images-wallpapers.jpg") no-repeat fixed center;
        color: #002080;
        font-family: 'Indie Flower', cursive;
    }

    h1 {
        color: #26004d;
        text-align: center;
        font-size: 3.25em;
        font-weight: bold;
        font-family: 'Indie Flower', cursive;
    }
    label {
        font-size: 1.5em;
    }
    hr.style1 
    {
        border: 1.5px solid #002080;
    }
</style>
<h1>Help</h1>
<div class="container text-center" display="inline-block" style="width:55%; top:30%; left:33%">
    <label style="font-size: 3em">How to add a new note? </label>
    <p style="font-size: 2em"> If you want to  add a new note,  go and push <button type="button" class="btn btn-primary">Add New Note</button></p>
    <hr class="style1">
    <label style="font-size: 3em">How to remove a note? </label>
    <p style="font-size: 2em">If you want to  remove a note,  go and push the <b><i>X</i></b>, in the top left corner of the note.</p>
    <hr class="style1">
    <label style="font-size: 3em">How to change your password? </label>
    <p style="font-size: 2em">If you want to change your password, click "Forgot Password?" and introduce your email. We will send you a code</p>
</div>