@{
    ViewBag.Title = "Register";
}
<head>
    <title>Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
   @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            background: url("https://www.walldevil.com/wallpapers/a26/titles-background-papers-wallpaper-resources-lol-images-wallpapers.jpg") no-repeat fixed center;
            color: #002080;
            font-family: 'Indie Flower', cursive;
        }

        h1 {
            color: #26004d;
            text-align: center;
            font-size: 3.25em;
            font-weight: bold;
        }
        .dropdown-menu {
            height: 20em;
            overflow-y: scroll;
        }

        label {
            font-size: 1.5em;
        }
    </style>
</head>

<body>
    <h1>Registration</h1>
    <br />
    <br />
    <br />
    <div class="container text-center" display="inline-block" style="width:35%">
        <form role = "form-inline">
            <div class="form-group">
                <label for="name" style="font-size:2.5em">Full Name</label>
                <input type="text" class="form-control " id="name" placeholder="Enter Name" align="center" style="height: 3em; position:relative; left:12%">
            </div>

            <div class="form-group ">
                <label for="date of birth" style="font-size:2.5em">Date of birth</label>
                <br>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="selection" id="day">Day</span><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#">11</a></li>
                        <li><a href="#">12</a></li>
                        <li><a href="#">13</a></li>
                        <li><a href="#">14</a></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#">16</a></li>
                        <li><a href="#">17</a></li>
                        <li><a href="#">18</a></li>
                        <li><a href="#">19</a></li>
                        <li><a href="#">20</a></li>
                        <li><a href="#">21</a></li>
                        <li><a href="#">22</a></li>
                        <li><a href="#">23</a></li>
                        <li><a href="#">24</a></li>
                        <li><a href="#">25</a></li>
                        <li><a href="#">26</a></li>
                        <li><a href="#">27</a></li>
                        <li><a href="#">28</a></li>
                        <li><a href="#">29</a></li>
                        <li><a href="#">30</a></li>
                        <li><a href="#">31</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="selection" id="month">Month</span><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">January</a></li>
                        <li><a href="#">February</a></li>
                        <li><a href="#">March</a></li>
                        <li><a href="#">April</a></li>
                        <li><a href="#">May</a></li>
                        <li><a href="#">Juni</a></li>
                        <li><a href="#">July</a></li>
                        <li><a href="#">August</a></li>
                        <li><a href="#">September</a></li>
                        <li><a href="#">October</a></li>
                        <li><a href="#">November</a></li>
                        <li><a href="#">December</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="selection" id="year">Year</span><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">1950</a></li>
                        <li><a href="#">1951</a></li>
                        <li><a href="#">1952</a></li>
                        <li><a href="#">1953</a></li>
                        <li><a href="#">1954</a></li>
                        <li><a href="#">1955</a></li>
                        <li><a href="#">1956</a></li>
                        <li><a href="#">1957</a></li>
                        <li><a href="#">1958</a></li>
                        <li><a href="#">1959</a></li>
                        <li><a href="#">1960</a></li>
                        <li><a href="#">1961</a></li>
                        <li><a href="#">1962</a></li>
                        <li><a href="#">1963</a></li>
                        <li><a href="#">1964</a></li>
                        <li><a href="#">1965</a></li>
                        <li><a href="#">1966</a></li>
                        <li><a href="#">1967</a></li>
                        <li><a href="#">1968</a></li>
                        <li><a href="#">1969</a></li>
                        <li><a href="#">1970</a></li>
                        <li><a href="#">1971</a></li>
                        <li><a href="#">1972</a></li>
                        <li><a href="#">1973</a></li>
                        <li><a href="#">1974</a></li>
                        <li><a href="#">1975</a></li>
                        <li><a href="#">1976</a></li>
                        <li><a href="#">1977</a></li>
                        <li><a href="#">1978</a></li>
                        <li><a href="#">1979</a></li>
                        <li><a href="#">1980</a></li>
                        <li><a href="#">1981</a></li>
                        <li><a href="#">1982</a></li>
                        <li><a href="#">1983</a></li>
                        <li><a href="#">1984</a></li>
                        <li><a href="#">1985</a></li>
                        <li><a href="#">1986</a></li>
                        <li><a href="#">1987</a></li>
                        <li><a href="#">1988</a></li>
                        <li><a href="#">1989</a></li>
                        <li><a href="#">1990</a></li>
                        <li><a href="#">1991</a></li>
                        <li><a href="#">1992</a></li>
                        <li><a href="#">1993</a></li>
                        <li><a href="#">1994</a></li>
                        <li><a href="#">1995</a></li>
                        <li><a href="#">1996</a></li>
                        <li><a href="#">1997</a></li>
                        <li><a href="#">1998</a></li>
                        <li><a href="#">1999</a></li>
                        <li><a href="#">2000</a></li>
                        <li><a href="#">2001</a></li>
                        <li><a href="#">2002</a></li>
                        <li><a href="#">2003</a></li>
                        <li><a href="#">2004</a></li>
                        <li><a href="#">2005</a></li>
                        <li><a href="#">2006</a></li>
                        <li><a href="#">2007</a></li>
                        <li><a href="#">2008</a></li>
                        <li><a href="#">2009</a></li>
                        <li><a href="#">2010</a></li>
                        <li><a href="#">2011</a></li>
                        <li><a href="#">2012</a></li>
                        <li><a href="#">2013</a></li>
                        <li><a href="#">2014</a></li>
                        <li><a href="#">2015</a></li>
                        <li><a href="#">2016</a></li>
                        <li><a href="#">2017</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="name" style="font-size:2.5em">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter Email" style="height: 3em; position:relative; left:12%">
            </div>

            <div class="form-group">
                <label for="user name" style="font-size:2.5em">User name</label>
                <input type="text" class="form-control" id="user name" placeholder="Enter User name" style="height: 3em; position:relative; left:12%">
            </div>

            <div class="form-group">
                <label for="user name" style="font-size:2.5em">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Enter Password" style="height: 3em; position:relative; left:12%">
            </div>

            <div class="form-group">
                <label for="user name" style="font-size:2.5em">Confirm Password</label>
                <input type="password" class="form-control" id="Confirm Password" placeholder="Confirm Password" style="height: 3em; position:relative; left:12%">
            </div>
            <div align="center">
                <button type="reset" class="btn btn-warning btn-lg" id="reset">Reset</button>
                <button class="btn btn-primary btn-lg" id="register">Register</button>
            </div>
        </form>
    </div>
 

    <script type="text/javascript">
     

        $(".dropdown-menu li").click(function () {
            alert("selection");
            $(this).parents(".btn-group").find('.selection').text($(this).text());
		    $(this).parents(".btn-group").find('.selection').val($(this).text());
		});
    
			$("#reset").click(function(){
				$(".dropdown-menu li a").parents(".btn-group").find('#year').text("Year");
				$(".dropdown-menu li a").parents(".btn-group").find('#month').text("Month");
				$(".dropdown-menu li a").parents(".btn-group").find('#day').text("Day");
			});
    </script>
</body>